footer {
  width: $width_wrapper;;
  height: 386px;
  background-color: #2a2d32;
  .wrapper_art {
    width: $width_header;
    height: $height_footer;
    margin: 0 auto;
    .footer__art {
      display: block;
      float: left;
      width: 260px;
      margin-right: 40px;
      &:first-child {
        //margin-left: 20px;
      }
      height: 320px;
      &:last-child {
        margin-right: 0;
      }
      h3 {
        margin-top: 64px;
        color: #fff;
        font-family: $fontUbuntuM;
        font-size: $font_size_big;
        font-weight: 500;
        line-height: 24px;
        text-transform: uppercase;

      }
      ul {

        li {
          border-bottom: 1px solid #393c40;
          &:last-child {
            border-bottom: none;
          }
          a {
            opacity: 0.3;
            color: #fff;
            font-family: Aria, sans-serif;
            font-size: $font_size_medium;
            font-weight: 400;
            line-height: 36px;
            &:hover {
              color: #248cec;
            }
          }
        }
      }
    }
  }
  .address {
    position: absolute;
    height: 60px;
    width: 1240px;
    margin: 0 auto;
    background-color: #35383c;
    opacity: 0.2;
    color: #fff;
    font-family: $fontUbuntuM;
    font-size: $font_size_small;
    font-weight: 400;
    line-height: 20px;
    span {
      margin-left: 60px;
      margin-top: 24px;
      float: left;
    }
    #post-address {
      &:before {
        content: " ";
        position: absolute;
        top: 25px;
        left: 30px;
        background: url(../../img/address-ico.png) 0 0 no-repeat;
        width: 14px;
        height: 16px;
      }
    }
    #mobile {
      &:before {
        content: " ";
        position: absolute;
        top: 25px;
        left: 355px;
        background: url(../../img/address-ico.png) -15px 0 no-repeat;
        width: 14px;
        height: 16px;
      }
    }
    #e-mail {
      &:before {
        content: " ";
        position: absolute;
        top: 27px;
        left: 505px;
        background: url(../../img/address-ico.png) -29px 0 no-repeat;
        width: 18px;
        height: 16px;
      }
    }
    #copyright {
      float: right;
      margin-right: 40px;
    }
  }
}
