// wrapper
$width_wrapper:            1240px;
$width_header:             1160px;
$height_footer:             326px;

// sprite socials
$social-ico:                 url(../../img/socials-ico.png);
$width_social-ico:           18px;
$height_social-ico:          17px;
$delta10:                    10px;
$delta1:                      1px;

// sprite trade-marks
$url_trade_mark-ico:         url(../../img/trade-marks.png);
$width_trade_mark-ico:       144px;
$height_trade_mark-ico:      62px;


// fonts
$font_size_big:         16px;
$font_size_main:        14px;
$font_size_medium:      13px;
$font_size_small:       12px;
$fontArial:				 Arial, sans-serif;
$fontUbuntuM:			"UbuntuLight", Arial, sans-serif;

// color
$updatesBckgr:			#f7f7f7;
$whiteColor:			  #fff;
$textColor1:			  #2a2d32;
$textColor2:	  		#2a2b2e;
$textColor3:			  #9e9e9e;
$textColor4:			  #0187f4;
$textColor5:			  #8a8a8a;
$linkHoverColor:		#248cec;
$hover_color:       #f4b60d;                // yellow
$hover_slider:          #d0d0d0;                // yellow
$bannersActiveBckgr:	#f4b60d;
$bannersBorderColor:	#e8e8e8;
$color_grey:            #2a2b2e;
$color_blue:            #248cec;

// main_updates
$margin_block:         20px;
$width_number:         65px;
